/bower_components/
/node_modules/
/.pulp-cache/
/.cache/
/dapp/build/
/output/
/.psc-package/
package-lock.json
/.psc*
/.purs*
/.psa*
/abis/**/*.json
*.swp
/src/InternetFaucet/Contracts/
chanterelle.js
cliquebait-generated.json
